/* Важный цвет текста - color: #2D2D2D; */

*{    
  font-family: 'Epilogue', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.flex{
display: flex;
justify-content: center;
}
.main-header {
  padding-top: 25px;
  margin-bottom: 118px;
  height: 50px;
}
.header-glue{
  position: sticky;
  top: 0px;
  height: 100px;
  background-color: #fff;
  z-index: 100
}
.Main-menu a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
}
.Menu {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.Main-menu{
  display: flex; 
  gap: 47px;
  align-items: center;
}
.grey-logo{
  cursor: pointer;
}
.header-line{
display: flex;
justify-content: space-between;
}
.grey-logo{
  height: 53px;
width: 199px;
display: flex ;
align-items: center;
}
.first-section-main{
  height: 680px;
}
.first-section-h4{
  margin-bottom: 34.5px;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: #2D2D2D 50%;
}
.first-section-h1{
font-size: 100px;
font-weight: 700;
line-height: 102px;
text-align: left;
height: 204px;
width: 589px;
color: #2D2D2D;
}
.first-section-p{
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  margin-top: 41.5px;
  color: #2D2D2D;
  margin-bottom: 45px;
  height: 54px;
width: 417.7px;
}
.first-section-a{
  text-decoration: none;
font-size: 17px;
font-weight: 400;
line-height: 30px;
text-align: left;
color: #2D2D2D;
}
.first-section-a:hover{
  color: #b2b2b2;
}
.border-bottom{
  border-bottom: 2px solid #2D2D2D80;
  margin-top: 2px;
  width: 72px;
}
.first-images{
  display: flex;
}
.green-figure{
  background: url(../images/green-figure.png);
  border-top-right-radius: 40%;
  border-bottom-left-radius: 40%;
  height: 142px;
width: 137px;
position: relative;
top:286px;
right:40px; 
}
.flat-image{
  background: url(../images/first-flat.png) center no-repeat;
  height: 568px;
  background-size: auto;
  width: 449px;
  margin: -400px -731px -168px 731px;
}
.orange-figure{
  height: 138px;
width: 133px;
margin-left: 350px;
position: relative;
top: -445px;
left: 30px;
}
.two-arrows{
  background: url(../images/two-arrows.png) no-repeat;
  height: 60px;
  width: 100px;
  rotate: 90deg;
  margin-left: 40px;
  margin-top: 30px;
}
.right-top-arrow{
  position: relative;
  bottom : -65px;
}
.green-figure-text{
  color: #FEFEFE;
font-size: 16px;
font-weight: 400;
line-height: 16px;
text-align: left;
position: relative;
bottom: -67px;
text-align: center;
color: #FEFEFE80;
}
.second-main{
  height: 47px;
  width: 1078px;
  margin: 300px auto;
}
.sponsors-icons{
display: flex;
width: 1108px;
}
.second-icon{
  margin-left: 80px;
  justify-content: space-around;
object-fit: cover;
}
.third-main{
height: 403px;
margin: 0 auto;
}
.third-flex{
  width: 1039px;
  height: 403px;
  display: flex;
  margin-left: 4%;
  margin-bottom: 69px;

} 
.third-first{
  margin-left: 100px;
}
.third-second{
  margin-left: 100px;

}
.third-third{ 
  margin-left: 100px;

}
.third-images{
  display: flex;
  margin-top: 11px;
  justify-content: center;
  margin: auto;
  object-fit: contain;
}
.third-text-center{
  text-align: center;
  margin-top: 61px;
  font-size: 27px;
  font-weight: 600;
  line-height: 42px;
}
.third-text-p{
font-size: 17px;
font-weight: 400;
text-align: center;
width: 250px;
line-height: 27px;
margin-top: 15px;
}
.footer-navigation-li a{
  text-decoration: none;
  color: #FFFFFF80;
  }
.art-new{
  height: 990px;
width: 1085px;
margin: 0 auto;
}
.counting{
width: 100px;
display: flex;
justify-content: space-between;
float: right;
}
.counting-1{
  color: black;
}
.counting-2{
  color: #00000080;

}
.counting a{
  text-decoration: none;
}
.art-new-h2{
text-align: center;
}
.art-wrapper{
  display: flex;
  flex-wrap: wrap;
}
.blocks{
  width: 330px;
  height: 400px;
  margin: 10px;
  flex-wrap: wrap;
}
.first{
  background: url(../art-images/art-first.png);
  background-size: cover;
  width:330px;
  height:330px;
}
.second{
  background: url(../art-images/art-second.png);
  background-size: cover;
  width:330px;
  height:330px;
}
.third{
  background: url(../art-images/art-third.png);
  background-size: cover;
  width:330px;
  height:330px;
}
.fourth{
background: url(../art-images/art-forth.png);
background-size: cover;
width:330px;
height:330px;
}
.fiveth{
background: url(../art-images/art-fiveth.png);
background-size: cover;
width:330px;
height:330px;
}
.sixth{
background: url(../art-images/art-sixth.png);
background-size: cover;
width:330px;
height:330px;
}
.art-text{
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: left;
white-space: nowrap;
overflow: hidden ;
text-overflow: ellipsis;
}
.first-p{
display: flex;
gap: 10px;
}
.first-link{
  text-decoration: none;
}
.second-p{
  display: flex;
  gap: 10px;
}
.design{
color: #6FBFF9;
}
.art{
color: #009379;
}
.history{
color: #FF6250;
}
.Application{
display: flex;
width: 1082px;
margin: 131px auto;

}
.application-main{
flex: 1;
}
.Apply{
flex: 1;
}
.h2{
font-size: 32px;
font-weight: 600;
line-height: 42px;
text-align: left;
}
.p-application{
height: 135px;
width: 331px;
margin-top: 47px;
font-size: 17px;
font-weight: 400;
line-height: 27px;
text-align: left;
}

.orange-figure-application{
width: 148px;
rotate: 45deg;
}
.app-figures-position{
margin-top: -70px;
}
textarea{
resize: none;
height: 196px;
width: 530px;
background: #DFDFDF;
padding-left: 30px;
padding-top: 20px;
border: none;
}
.input-name{
background: #DFDFDF;
height: 70px;
width: 530px;
padding-left: 30px;
margin-bottom: 28px;
border: none;
}
.input-name:active, :hover, :focus {
outline: 0;
outline-offset: 0;
}
.submit{
height: 80px;
width: 235px;
background-color: #2D2D2D;
text-decoration: none;
color: white;
display: flex;
justify-content: center;
align-items: center;
}
footer{
background: #2d2d2d;
height: 273px;
width: 100%;
}
.footer-flex{
display: flex;
gap: 300px;
}
.footer-right{
margin-top: 35px;
}
.white-icon{
margin-top: 31px;
}
.countries{
list-style-type: none;
margin-top: 31px;
color: #FFFFFF80;
}
.left-footer{
margin-left: 100px;
}
.countries-li{
margin:2px;
font-weight: 400;
font-size: 20px;
line-height: 27px;
}
.footer-navigation-li{
list-style-type: none;
color: #FFFFFF80;
}
.footer-navigation-li:hover{
color: rgba(255, 255, 255, 0.8);
}
.footer-navigation{
display: flex;
align-items: center;
gap: 8%;
font-weight: 700;
font-size: 17px;
line-height: 27px;
cursor: pointer;
}
.footer-links{
display: flex;
flex-direction: column;
margin-top: 57px;
}
.footer-link{
color: #FFFFFF80;
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 27px;
margin: 8px ; 
}

.footer-link:hover{  color: rgba(255, 255, 255, 0.8);}
.background-footer{
background: url(../icons/footer-50-icon.png);
height: 86px;
width: 345px;
margin-top: -150px;
margin-left: 400px;
}
.footer-sponsors-icons{
margin-top: 5%;
cursor:pointer;
}
.footer-icons{
margin-left: 32px;
object-fit: contain;}
.dots-under{
  width: 300px;
  margin-left: 245px;
  margin-top: 19px;
}
.dots-rows{
margin-left: 30px ;
cursor: pointer;
}
@media (max-width: 1400px){
.first-images{
position: relative;
right: 80px;
}
}
@media (max-width: 1200px){
.first-images{
position: relative;
right: 300px;
}
.third-flex{
position: relative;
left: -150px;
  }
  .art-wrapper{
   width: 1100px;
  }
}
@media (max-width: 992px){
.first-images{
position: relative;
right: 400px;
z-index: -1;
}
.second-icon{
margin-left: 100px;
margin-top: 80px;
position: relative;
right: -40%;
top: -130px
}
.sponsors-icons{
  max-width: 600px;
  margin-top: 50px;
}
.adidas-icon{
  margin-left: 85px;
}
  .third-flex{
    display: flex;
    position: static;
    margin-left: -50px;
  } 
  .third-images{
  width: 40%;
  }
  .third-text-center{
    font-size: 24px;
    margin-left: -25px;
  }
  .third-text-p{
    font-size: 14px;
    line-height: 1.2;

  }
.art-new-h2{
  font-size: 18px;
  margin-left: -50px;
}
}
